<div class="content">
  <vertical-split-pane primary-component-minsize="150" secondary-component-minsize="35"
                       primary-component-initialratio="0.15">
    <div class="split-pane-content-primary">
      <div class="left">

        <!--Geral-->
        <div id="accordionGeral" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOneGeral">
              <h5 class="mb-0">
                <button type="button" data-toggle="collapse" class="btn-accordion-header" href="#collapseCadastroGeral" aria-expanded="true" aria-controls="collapseCadastroGeral">
                  <span class="glyphicon glyphicon-envelope"></span>
                  Cadastro Geral
                </button>
              </h5>
            </div>

            <div id="collapseCadastroGeral" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body accordion-card">
                <button type="button" class="btn-accordion" routerLink="/administrativo/tipounidadegestora">Tipo Unidade Gestora</button>
                <button type="button" class="btn-accordion" routerLink="/administrativo/portaria">Portaria</button>
              </div>
            </div>
          </div>
        </div>

        <!--Geral-->
        <div id="accordionCadastroAuxiliares" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOneCadastroAuxiliares">
              <h5 class="mb-0">
                <button type="button" data-toggle="collapse" class="btn-accordion-header" href="#collapseCadastroAuxiliar" aria-expanded="true" aria-controls="collapseCadastroAuxiliar">
                  Cadastro Auxiliares
                </button>
              </h5>
            </div>

            <div id="collapseCadastroAuxiliar" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body accordion-card">
                <button type="button" class="btn-accordion" routerLink="/administrativo/tipounidadegestora">Parâmetros de Fórmula</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="split-pane-content-secondary">
      <div class="left">
        <router-outlet></router-outlet>
      </div>
    </div>
  </vertical-split-pane>
</div>
