<app-header></app-header>
<section class="main-container">

  <div class="region-buttons">

    <a class="btn btn-menu-principal" routerLink="/administrativo">
      <span><img src="../../assets/images/img_admin.png"></span>
      <div>
        <div class="title">Administração</div>
        <div class="subtitle">Configurações dos cadastros.</div>
      </div>
    </a>

    <a class="btn btn-menu-principal" routerLink="/administrativo">
      <span><img src="../../assets/images/img_admin.png"></span>
      <div>
        <div class="title">Administração</div>
        <div class="subtitle">Configurações dos cadastros.</div>
      </div>
    </a>

    <a class="btn btn-menu-principal" routerLink="/administrativo">
      <span><img src="../../assets/images/img_admin.png"></span>
      <div>
        <div class="title">Administração</div>
        <div class="subtitle">Configurações dos cadastros.</div>
      </div>
    </a>

    <a class="btn btn-menu-principal" routerLink="/administrativo">
      <span><img src="../../assets/images/img_admin.png"></span>
      <div>
        <div class="title">Administração</div>
        <div class="subtitle">Configurações dos cadastros.</div>
      </div>
    </a>

    <a class="btn btn-menu-principal" routerLink="/administrativo">
      <span><img src="../../assets/images/img_admin.png"></span>
      <div>
        <div class="title">Administração</div>
        <div class="subtitle">Configurações dos cadastros.</div>
      </div>
    </a>

    <a class="btn btn-menu-principal" routerLink="/administrativo">
      <span><img src="../../assets/images/img_admin.png"></span>
      <div>
        <div class="title">Administração</div>
        <div class="subtitle">Configurações dos cadastros.</div>
      </div>
    </a>

  </div>
</section>
