.btn-menu-principal {
  border: 1px solid #b0b0b0;
  padding: 8px !important;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  height: 85px;
  margin: 4px;
  display: inline-flex;
}

.btn-menu-principal:hover {
  transition: 0.3s;
  border: 1px solid #1079fb;
  background-color: #eeeeee;
}

.btn-menu-principal-img {
  border-radius: 50%;
  background-color: #1079fb;
  margin: 5px;
  height: 48px;
  width: 5%;
}

.btn-menu-principal .title {
  font-size: 14px;
  font-weight: bold;
}

.btn-menu-principal .subtitle {
  display: inline-block;
  white-space: pre-wrap;
  font-size: 12px;
}
